<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huawei.com.infrastructure.dao.IVulnTagDao">
    <resultMap id="dataMap" type="org.huawei.com.infrastructure.dao.po.VulnTag">
        <id column="id" property="id"/>
        <result column="vuln_id" property="vulnId"/>
        <result column="tag" property="tag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertVulnTag" parameterType="org.huawei.com.infrastructure.dao.po.VulnTag">
        insert into vuln_tag (vuln_id, tag, created_time, updated_time)
        values (#{vulnId}, #{tag}, now(), now())
    </insert>

    <delete id="deleteVulnTag" parameterType="org.huawei.com.infrastructure.dao.po.VulnTag">
        DELETE FROM vuln_tag
        WHERE vuln_id = #{vulnId} and tag = #{tag};
    </delete>

    <update id="updateVulnTag" parameterType="org.huawei.com.infrastructure.dao.po.VulnTag">
        UPDATE vuln_tag
        SET tag = #{tag}
        WHERE vuln_id = #{vulnId};
    </update>

    <select id="queryTagsByVulnId" parameterType="int" resultMap="dataMap">
        SELECT * FROM vuln_tag WHERE vuln_id = #{vulnId} ORDER BY  id DESC
    </select>

    <select id="queryAllDistinctTags" resultType="string">
        SELECT DISTINCT tag FROM vuln_tag ORDER BY tag ASC
    </select>

    <select id="queryVulnIdsByTag" parameterType="string" resultType="long">
        SELECT vuln_id FROM vuln_tag WHERE tag = #{tag} ORDER BY vuln_id ASC
    </select>

</mapper>
